/calci.class
/daya.class
/fifth.class
/first.class
/fourth.class
/function1.class
/grading.class
/ifese.class
/input.class
/palindrome.class
/pattern1.class
/pattern11.class
/pattern2.class
/pattern3.class
/pattern4.class
/pattern6.class
/pattern8.class
/pattern9.class
/prime.class
/revi.class
/salary.class
/second.class
/third.class
/vowel.class